STOR command packets constructed incorrectly.

I'm noticing  a strange issue where STOR request packets seem to be constructed incorrectly or in an unusual way.

It seems that, when I use the 'put' command, the ftp STOR request packet is prefixed with some strange characters. Usually I am seeing the STOR command prefixed with '\362'. When I look at the packet with wireshark, it says:

    > File Transfer Protocol (FTP)
       > \362STOR test_file\r\n
           Request command: \357\277\275STOR
           Request arg: test_file

The character prefix does not occur for other commands I am using. The result is that I cannot upload any files to the FTP server I am using.

I have also seen the \362 going out as a separate FTP request, so maybe these requests are sometimes concatenated? I will post screenshots of the captures.

I have seen the same behavior with the following configurations:

    Ubuntu 16.04 amd64
        lftp v4.3.3
        lftp v4.6.3a
        lftp v4.7.8
            Readline 6.3, GnuTLS 3.4.10, zlib 1.2.8

    RHEL 6.9 amd64
        lftp v4.7.8
            Readline v6.0, GnuTLS v2.12.23, zlib v1.2.4

However, it seems to work on:

    Ubuntu 12.04 amd64
        lftp v4.3.3
            Readline v6.2, GnuTLS 2.12.14, zlib 1.2.3.4

I tried to look at the code, but am not sure where to begin looking to help identify the problem.

In the following screenshot, you will see a wireshark tcp capture. In the capture, there are four STOR requests. In the first three, the STOR request packet seems to be constructed correctly and each time is preceded by a \362 request packet.

The fourth STOR request packet, has the \362 prefixed to the front of the command. I have highlighted this packet and you can see additional information about the contents of the packet in the lower two panes of wireshark.

![ftp362capture](https://user-images.githubusercontent.com/2433625/29133738-af129542-7cf1-11e7-99f3-38072c6ae701.png)



These "strange characters" are part of ABOR sequence. See https://tools.ietf.org/html/rfc959 page 35.

Thank you for clarifying that. I tried looking through the RFCs and I see that \362 is octal for decimal code 242 which is Data Mark or SYNCH (RFC 854) and \239 is octal for decimal code 239 which represents End of Record (RFC 885).

But I can't seem to find anything on octal \277 (decimal 191) or octal \275 (decimal 189).

I looked through RFC 959 and various telnet RFCs but can't find any references to these codes. Am I misunderstanding something?

In the dump there are two requests:
    41533 Request: \377\364\377
    41534 Request: \362STOR test_file

I interpret this to mean:
    Interpret as command, Interrupt Process, Interpret as Command, SYNCH, STOR test_file

As you and section 5.8 of RFC 1184 (ftp://ftp.rfc-editor.org/in-notes/rfc1184.txt) say, this seems to be valid protocol. Do you agree with the interpretation and that it is valid?

Do you think there might be an issue with vsftpd not interpreting the commands correctly?

Maybe the protocol is misdecoded (ABOR request seems to be missed but the reply is present). Try to turn on debug in lftp and see which commands it actually sends.

Here is actual test output and tcp dump corresponding to that test:

```
user@pc:~$ lftp -d
lftp :~> open ftp.website.com
---- Resolving host address...
---- 1 address found: IP address
lftp ftp.website.com:~> user ftp vincent@fitz
lftp ftp@ftp.website.com:~> cd tob/sos
---- Connecting to ftp.website.com (IP address) port 21
<--- 220 
---> FEAT
<--- 211-Features:
<---  EPRT
<---  EPSV
<---  MDTM
<---  PASV
<---  REST STREAM
<---  SIZE
<---  TVFS
<---  UTF8
<--- 211 End
---> OPTS UTF8 ON
<--- 200 Always in UTF8 mode.
---> USER ftp
<--- 331 Please specify the password.
---> PASS user@pc
<--- 230 Login successful.
---> PWD
<--- 257 "/"
---- CWD path to be sent is `/tob/sos'
---> CWD /tob/sos
<--- 250 Directory successfully changed.
cd ok, cwd=/tob/sos
lftp ftp@ftp.website.com:/tob/sos> put -E /home/user/random_test_file
---> TYPE I
<--- 200 Switching to Binary mode.
---> PASV
<--- 227 Entering Passive Mode (SRC IP address,43,32).
---- Connecting data socket to (SRC IP address) port 11040
---- Data connection established
---> ALLO 41
<--- 550 Permission denied.
---> STOR random_test_file
---> ABOR
put: /home/user/random_test_file: Access failed: 550 Permission denied. (random_test_file)
<--- 550 Permission denied.
<--- 225 No transfer to ABOR.
---- Closing aborted data socket
---- Closing idle connection
---> QUIT
<--- 221 Goodbye.
---- Closing control socket

```
The corresponding dump is:

![ftpdebug](https://user-images.githubusercontent.com/2433625/29232664-020c54a4-7eaa-11e7-840a-cbdb5a00b140.png)

I actually think this might not be an issue with lftp, but it may be a problem with a library it depends on. I hand compiled lftp v4.3.3 on Ubuntu 12.04, Ubuntu 16.04, and RHEL 6.9, but it only works on 12.04.  Newer versions of lftp exhibit the same behavior. 

Maybe readline, gnutls, or zlib?  Where else do you think I should I look to try to determine the issue?


Maybe the server just does not like the ALLO command. Try "set ftp:use-allo no".


That worked!

One strange thing is that my Ubuntu 12 test of lftp v4.3.3 uses the ALLO command (which the server denies as usual), but the subsequent STOR command succeeds since the STOR request didn't have the \362 prefix. I wonder where these \362 and \357\277\275 are coming from?

So, using "set ftp:use-allo no" is a good workaround, but I'm still curious about what causes the problem.

I talked to our FTP admin and the ALLO command was not in the list of approved commands. I had him add the command and now the original code works again!

Before 4.4.0 lftp just ignored ALLO response.
